body {
    margin: 0;
    padding: 0;
}

.app {
    padding: 10px;
}

#heading {
    color: green;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border: 1px solid black; */
    /* padding: 0 10px 0 10px; */
}

.logo {
    width: 150px;
}

.nav-items>ul {
    display: flex;
    list-style-type: none;
    font-size: 20px;
}

.nav-items>ul>li {
    padding: 10px;
    margin: 10px;
}

.res-card {
    width: 200px;
    /* height: 300px; */
    border: 1.5px solid #f0f0f0;
    /* padding: 10px; */
    /* background-color: red; */
    padding: 10;
    margin: 10px;
    border-radius: 15px;
}

.res-card:hover {
    border: 1.5px solid #353535;
    cursor: pointer;
}

.search {
    padding: 10px;
}

.res-logo {
    width: 100%;
}

.res-heading-container {
    font-weight: 600;
    font-size: 1.5rem;
}

.cuisins-container {
    color: #353535;
    font-size: 0.9rem;
}

.order-for-two {
    font-size: 1rem;
}

.rating-container {
    display: flex;
    align-items: center;
    background-color: #E01226;
    width: fit-content;
    padding: 2px 8px 2px 8px;
    border-radius: 6px;
    margin: 3px 0px 3px 0px;
}

.rating-text {
    color: #fff;
    font-size: 0.9rem;
    margin-left: 5px;
}

.rating-img{
    width: 15px;
}

.res-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}